<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/update-user" class="border-shadow">
                <span class="text-gradient">Update details <i class="fas fa-user"></i></span>
            </a>
        </div>
        <br>
        <div class="box-nav d-flex justify-between">
            <a href="/update-user" class="border-shadow">
                <span class="text-gradient">Consultations <i class="fas fa-user"></i></span>
            </a>
        </div>
       
    </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->